<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.corgilab.corgiOCR">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.ram.low"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.corgilab.corgiOCR.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.corgilab.corgiOCR.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.corgilab.corgiOCR.Camera_Gallery_activity"
            android:exported="true"
            android:label="@string/title_activity_camera_gallery_activity"
            android:parentActivityName="com.corgilab.corgiOCR.MainActivity" />

        <meta-data
            android:name="com.google.com.gms.vision.DEPENDENCIES"
            android:value="ocr" />

    </application>

</manifest>